

body{
    margin: 0px;
    padding: 0px;
    font-family: system-ui;
    

}
   
    

.br{
    
    background-color: #6d6875;
    text-align: right;
    padding: 30px; 
    width:1200px;
    height:340px ;
   margin-left: 300px;
 margin-top: -10px;
   padding-bottom: 10px;
   
    
}
img{  
    height: 250px;  
    width: 250px; 
    border-radius: 300%; 
    
  
    }  
   #left {    
    text-align: left;  
    }  
    #center {    
    text-align: center;  
    }  
    




/* .pic{
    height: 250px;
    width:260px;
    border-radius: 300%;
    padding-bottom: 30px;
    padding-right: 40%;
    padding-left: 40%;
} */
.p1{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    margin-top: -200px;
    text-align: center;
}
.p2{
    color: whitesmoke;
    font-size: 15px;
    font-weight: bold;
    margin: 0px;
    margin-top: 10px;
    text-align:center;
}
.box{
    background-color: #e5e5e5;
    text-align: center;
    padding: 30px; 
    width:1200px;
    height:595px ;
    margin-left: 300px;
    margin-top: -100px;
}
.box1{
    
    background: rgb(229,229,229);
background: radial-gradient(circle, rgba(229,229,229,1) 0%, rgba(109,104,117,1) 100%);
    height: 932px;
    width: 200px;
    margin-left: 1565px;
    margin-top: -825px;
}
.box2{
    background: rgb(229,229,229);
background: radial-gradient(circle, rgba(229,229,229,1) 0%, rgba(109,104,117,1) 100%);
    height: 934px;
    width: 200px;
    margin-top: -932px;
    margin-left: 96px;
   
}
.Objective1{
    color: black;
    font-size: 15px;
    font-weight: bold;
    margin: 1px;
    margin-top: 1px;
    text-align: left;

}
.Objective2{
    color: black;
    font-size: 15px;
    margin: 20px;
    margin-top: 5px;
    text-align: left;
}


.Experience{
    color: black;
    font-size: 15px;
    font-weight: bold;
    margin: 1px;
    margin-top: 1px;
    text-align: left;
}
.Experience1{
    color: black;
    font-size: 14px;
    margin: 20px;
    margin-top: 1px;
    text-align: left;
}
.Education{
    color: black;
    font-size: 15px;
    font-weight: bold;
    margin: 1px;
    margin-top: 1px;
    text-align: left;
}
.Education1{
    color: black;
    font-size: 14px;
    margin: 20px;
    margin-top: 1px;
    text-align: left;
}
.Strength{
    color: black;
    font-size: 15px;
    font-weight: bold;
    margin: 1px;
    margin-top: 1px;
    text-align: left;
}
.Strength1{
    color: black;
    font-size: 14px;
    margin: 20px;
    margin-top: 1px;
    text-align: left;
}
.Declaration{
    color: black;
    font-size: 15px;
    font-weight: bold;
    margin: 1px;
    margin-top: 1px;
    text-align: left;  
}
.Declaraction1{
    color: black;
    font-size: 14px;
    margin: 20px;
    margin-top: 1px;
    text-align: left;
}
.skills{
    color: black;
    font-size: 15px;
    
    text-align: left;
    margin-left: 1000px;
    margin-top: -600px;
}
.skills1{
    color: black;
    font-size: 14px;
    margin-right: 1px;
}
.interests{
    color: black;
    font-size: 15px;
    
    text-align: right;
    margin-right: 500px;
    margin-top: -600px;
}
.interests1{
    color: black;
    font-size: 14px;
    margin-right: 1px;
}
.Languages{
 color: black;
    font-size: 15px;
    
    text-align: left;
}
.Languages1{

    color: black;
    font-size: 14px;
    margin-right: 1px;
}
Personal Detailss{
    color: black;
       font-size: 15px;
       
       text-align: right;
}
